*{
    padding: 0;
    margin: 0;
}

body{
    background: rgba(9, 8, 17, 1.0);
    background: linear-gradient(180deg, rgba(9, 8, 17, 1.0), rgba(44, 38, 83, 1.0));
}
#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: blanchedalmond;
}
.hora {
    background-color: #282c34;
    color: white;
    font-size: 48px;
    font-family: 'Courier New', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background: rgba(44, 38, 83, 1.0);
    color: whitesmoke;
    border: none;
    padding: 20px 25px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
    background-color:  rgb(54, 46, 102);
}

button:active {
    transform: translateY(0);
}
